{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}
<style>
.modal-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

}
/* show the overlay */
.modal-overlay.show{
    visibility: visible;
    opacity: 1;
}
.modal-box {
    color:black;
    background:white;
    width: 90%;
    max-width: 400px;
    margin: 100px auto;
    padding:20px;
    border-radius: 10px;
    position: relative;
}
.modal_close{
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

</style>
<body>
<div style="display:flex; justify-content: center;">
    <button class="btn btn-secondary" id="openBtn">Open</button>
    <div id="modal" class="modal-overlay">
        <div class="modal-box" id="modal-box">
            <button id="closeBtn" class="btn btn-secondary modal-close">x</button>
            <h3>Hello!</h3>
            <p>This is a modal popup</p>
        </div>
    </div>
</div>
<script type="module" src="static/modal_popup.js"></script>
</body>

{% include 'footer.html' %}

{% endblock %}

